{
    "host": "0.0.0.0",
    "port": 8000,
    "models": [
        {
            "model": "/var/model/qwen2_500m/qwen2-0_5b-instruct-q5_k_m.gguf",
            "model_alias": "gpt-3.5-turbo",
            "chat_format": "chatml",
            "n_gpu_layers": -1,
            "offload_kqv": true,
            "n_threads": 12,
            "n_batch": 512,
            "n_ctx": 2048
        },
   ]
}