_libgcc_mutex
_openmp_mutex
asttokens
blas
bzip2
ca-certificates
comm
nvidia-cuda-toolkit
cuda-cudart
cuda-cupti
cuda-libraries
cuda-nvrtc
cuda-nvtx
cuda-opencl
cuda-runtime
cudatoolkit
debugpy
decorator
docx2txt
exceptiongroup
executing
filelock
gmp
gmpy2
importlib_metadata
intel-openmp
ipykernel
ipython
jedi
jinja2
jupyter_client
jupyter_core
ld_impl_linux-64
libblas
libcblas
libcublas
libcufft
libcufile
libcurand
libcusolver
libcusparse
libfaiss
libffi
libgcc-ng
libgfortran-ng
libgfortran5
libgomp
liblapack
libnpp
libnvjitlink
libnvjpeg
libsodium
libstdcxx-ng
libuuid
llvm-openmp
markupsafe
matplotlib-inline
mkl
mkl-service
mkl_fft
mkl_random
mpc
mpfr
mpmath
ncurses
nest-asyncio
networkx
openssl
packaging
parso
pexpect
pickleshare
pip
platformdirs
prompt-toolkit
psutil
ptyprocess
pure_eval
pygments
python
python-dateutil
python_abi
pytorch-cuda
pytorch-mutex
pyyaml
pyzmq
readline
setuptools
six
sqlite
stack_data
sympy
tbb
tk
tornado
traitlets
typing_extensions
wcwidth
wheel
xz
yaml
zeromq
zipp
zlib

